- provide(:title, 'Bite List')

%h1.big_title
  =@list.city.abbreviation + " Bite List"

.row
  .span6.offset3
    - @list.list_items.each do |item|
      %ol.lists
        .well
          = item.restaurant.name
