- provide(:title, 'Team')

%h1.big_title About Bitelist

.row
  .span6.offset3
    .well
      %div
        Bitelist is trying to make finding GOOD restaurants easier by using networks that you already have. We take the guesswork out of the food - the best places to eat in an unfamiliar city are places your friends have already been to. 



