= provide(:title, "Contribute to Bitelist")

%h1.big_title
  Contribute to Bitelist

%h2
  = link_to "Add a Bite", new_restaurant_path, class: 'btn btn-primary'
  = # link_to "Add a City", '#', class: 'btn btn-primary'
