= provide(:title, "Contribute")

%h1.big_title
  Add a Bite
.row
  .span6.offset3
    .well
      = link_to "Are you a restaurant owner?", new_restaurant_path
      Do you want to distribute rewards to your most loyal fanbase? Use Bitelist to reach out to them with rewards and loyalty incentives to establish an even larger presense in the fan food community!

