<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h1>Welcome to Bitelist</h1>
  <h2>
    This is Bitelist, grab a bite with everyone you can.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
