%h1.big_title
  Reset Password

.row
  .span4.offset4.center
    = form_tag password_resets_path, :method => :post do
      = label_tag "Please Enter your email below:"
      = text_field_tag :email, params[:email]
      = submit_tag "Send Reset Password", class: 'btn btn-primary'
