%html
  %head
    %meta{content: 'text/html'}

  %body
    %h1.big_title
      Welcome to Bitelist #{@user.first_name.to_s}!
    %br
    %div{style:'width:500px;'} Congratulations! You have successfully signed up to Bitelist! Your username is #{@user.email}. To start BITING people login here: #{@url}
