= provide(:title, 'Search')

%h1.big_title
  Invite Facebook Friends

%ul.users
  - @friends.each do |fb_friend|
    %li
      - fb_picture = 'http://graph.facebook.com/' + fb_friend.identifier + '/picture'
      = image_tag fb_picture

= will_paginate @friends