= provide(:title, @restaurant.name)

.row
  %aside.span4
    %section
      %h1{:style => "padding-bottom: 15px;float:left;"}
        = image_tag(@restaurant.picture_url, size: '80x80')
        
      %div
        %h1{:style => "margin-left: 10px; float:left;"}
          = @restaurant.name


  .span8
    - # only can show when a user is logged in or has something in their lists

