= provide(:title, @restaurant.name)

.row
  %aside.span4
    %section
      %h1{:style => "padding-bottom: 15px;float:left;"}
        = image_tag(@restaurant.picture_url, size: '80x80')
        
      %div
        %h1{:style => "margin-left: 7px; float:left;"}
          = truncate(@restaurant.name, length:20)
          %br/
          =link_to @restaurant.display_phone_number, 'tel:' + @restaurant.phone_number, style: 'float:left; font-weight:normal; margin-top:10px;', class: 'btn btn-warning'


  .span8
    -#put the restaurant's website, pictures, address, comments here
