- provide(:title, 'Sync')

%h1.big_title
  Sync

- # create a form to post to list_item_path (create method in list_items_controller)
.row{style: 'text-align:center;'}
  .span4.offset4
    - # only allow to post when it's the current user's account
    - if current_user 
      =form_tag get_sync_path, method: :get, remote: true do
        = text_field_tag 'search-box', :style => 'display:none;'
        %br/
        = submit_tag "Run Bitelist Sync", class: 'btn btn-primary', :style => 'height:40px;'

      -#hidden tag is for passing in user.id into javascript
      = hidden_field_tag "current_user_id", current_user.id, {id:"current_user_id"}
