- provide(:title, 'Sync')
%head
  :javascript
    var options = {
      propertyToSearch: "full_name",
      hintText: "Enter a name in your network",
      theme: "facebook",
      searchingText: "Searching your network...",
    };
    $(document).ready(function () {
      $("#search-box").tokenInput("/users/syncable_users", options);

      $("input[type=submit]").click(function(){
        //create the array of ids that are returned on the submit
        var syncIds = $(this).siblings("input[type=text]").val();

        //pass in a list of ids to the controller
        var url = '/get_sync?ids='.concat(syncIds);

        document.location.href = url;
        return false;
      });
    });

%h1.big_title{style: 'text-align:center;'}
  Bite Sync

%h2
  Add your friends to get some group recommendations!

- # create a form to post to list_item_path (create method in list_items_controller)
.row{style: 'text-align:center;'}
  .span4.offset4
    - # only allow to post when it's the current user's account
    - if current_user 
      = text_field_tag 'search-box'
      %br/
      = submit_tag "Run Bitelist Sync", class: 'btn btn-primary', :style => 'height:40px;'
  
