<% @lists.each do |list| %>
  <li>
    <%- # TODO: need to insert the proper reference to edit the list %>
    <div class="well">
      <h3 style='float:left;'><%= link_to list.city.name, list %></h3>
      <% if current_user?(list.user) %>
        <%= link_to "Remove", list, method: :delete, confirm: "Are you sure you want to delete this List?",style: "font-size: 11px; float:right;" %>
      <% end %>
    </div>
  </li>
<% end %>
